<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang | default "en-US" }}'>
<head>
    {{- partial "head/index" . -}}
</head>

<body lang='{{ .Site.Language.Lang | default "en-US" }}'>

<header id="header" class="page-header">
    {{- partial "header/index" . -}}
</header>

<main id="main" class="main">
    {{- block "main" . }}{{- end }}
    {{- partial "sidebar/index" . -}}
</main>

<footer id="footer" class="page-footer">
    {{- partial "footer/index" . -}}
</footer>

{{- partial "scripts/index" . -}}
</body>
</html>
