// https://codepen.io/KaioRocha/pen/MdvWmg?ref=devawesome.io

.switcher {
  width: 100%;
  animation: FadeInUP 800ms ease-in;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .36), inset 0 0 6px 0 rgba(0, 0, 0, .30);
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  @include themify {
    background: themed_color("secondary-lighten-1");
  }
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  

  &:after {
    content: '';
    background: $white;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
  }
}

input:checked + label {
  @include themify {
    background: themed_color("secondary");
  }

  &:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 1000ms;
  transition-delay: 0s;
}
